@media only screen and (min-width: 1200px) {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: #222222;
    background-color: #f0edee;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0 auto;
  }

  #menu {
    display: none;
  }

  section {
    text-align: center;
    padding: 1em 0.5em;
  }

  h1,
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  .dark-bg {
    background-color: #222222;
    color: #f0edee;
  }

  .dark-bg-trans {
    background-color: #07393ce5;
    color: #f0edee;
  }

  .bright-bg {
    background-color: #f0edee;
    color: #07393c;
  }

  .primary-text {
    color: #07393c;
  }

  .bright-text {
    color: #f0edee;
  }

  .accent-bg {
    background-color: #ffba48;
    color: #222222;
  }

  .accent-text {
    color: #ffba48;
  }

  .logo-main {
    width: 280px;
    color: #f0edee;
    font-size: 2rem;
  }

  a:link,
a:hover,
a:visited {
    text-decoration: none;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-image: url("../images/building.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    animation: slideshow;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 10s;
    animation-iteration-count: infinite;
  }

  header #top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1768px;
    flex-wrap: wrap;
    width: calc(100% - 2em);
    position: fixed;
    top: 0;
    padding: 1em;
  }

  header .banner {
    width: 70%;
    margin-top: 4em;
    text-align: center;
  }

  header .search-container {
    margin: 0.5em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1768px;
    flex-wrap: wrap;
    border-radius: 50px;
    width: 80%;
  }

  header #icon-search {
    border: 0;
    outline: none;
  }

  header .search-container,
header .search {
    background-color: #f0edee;
    border-radius: 25px;
    padding: 0.25em 1em;
    line-height: 1em;
    color: #07393c;
    border: 2px solid #f0edee;
    font-size: 2rem;
    text-align: center;
  }

  header .search {
    flex-grow: 3;
  }

  header .search::placeholder {
    color: #2c666e;
  }

  header .search:focus {
    outline: none;
  }

  header.normal {
    animation: none;
    background-color: #222222;
    background-image: none;
    height: 100px;
  }

  .mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1768px;
    flex-wrap: wrap;
    background-color: #222222;
  }

  .mail main {
    padding: 0.5em 2em;
    background-color: #f0edee;
    height: 100vh;
  }

  .mail .signature {
    margin-top: 4em;
    font-weight: bold;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 1768px;
    flex-wrap: wrap;
  }

  nav .nav-item {
    margin: 0.5em 0.5em;
    color: #f0edee;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }

  nav .nav-item:hover,
nav .active {
    border-bottom: 2px solid #ffba48;
    font-weight: bold;
  }

  button {
    border-radius: 25px;
    padding: 0.5em 1em;
    cursor: pointer;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1768px;
    flex-wrap: wrap;
    background-color: #222222;
    margin: 0 auto;
    padding: 2em 4em;
    color: #f0edee;
    font-size: small;
  }

  footer div.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer a:link,
footer a:active,
footer a:visited {
    color: #f0edee;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }

  #s-bookings {
    background-color: #2c666e;
    padding: 4em;
    color: #f0edee;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5em;
    width: 100%;
  }

  .form-control, textarea.form-control {
    background-color: transparent;
    border-radius: 25px;
    padding: 0.5em 2em;
    margin: 0.5em;
    border: 1px solid #07393c;
    width: calc(100% - 1em);
    color: #f0edee;
    box-sizing: border-box;
  }

  textarea.form-control {
    border-radius: 2px;
  }

  .form-control:focus {
    outline: none;
  }

  #cities {
    border: 0px;
    text-align: center;
    text-align-last: center;
    width: 60%;
    color: #f0edee;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 3rem;
  }

  #cities option {
    text-align: center;
  }

  #booking-button,
#send-button {
    padding: 0.5em 4em;
    border-radius: 25px;
    background-color: #f0edee;
    border: 0px solid #2c666e;
    cursor: pointer;
  }

  #booking-button:hover,
#send-button:hover {
    background-color: #ffba48;
  }

  img.feature {
    width: 40%;
  }

  .large-text {
    font-size: 3rem;
  }

  .medium-text {
    font-size: 2rem;
  }

  .small-text {
    font-size: 0.5rem;
  }

  .stories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1768px;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
  }

  .stories > div {
    text-align: left;
  }

  .stories div > p:nth-child(1) {
    font-style: italic;
  }

  .stories div > p:nth-child(2) {
    font-weight: bold;
  }

  .hidden {
    display: none;
  }

  .cookie-notification {
    position: fixed;
    bottom: 0;
    height: 0;
    max-height: 100px;
    width: 100%;
    text-align: center;
    padding: 1em 0.5em;
    animation: stretchUp 0.3s linear 2s 1 forwards;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    max-width: 1768px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1em 0.5em;
  }

  #s-bookings .form-control::placeholder {
    color: #f7f2f2;
  }

  #s-bookings .container,
#s-contacts .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1768px;
    flex-wrap: wrap;
    padding: 4em 0.5em;
  }

  #s-about .container,
#s-about2 .container,
#s-about3 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    max-width: 1768px;
    flex-wrap: wrap;
    padding: 0.5em 4em;
  }

  #slider > div p {
    text-align: justify;
  }

  .slide {
    width: 40%;
    margin-top: 2em;
  }

  #s-stories .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1768px;
    flex-wrap: wrap;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 360px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .cards span {
    display: none;
    height: 0;
  }

  .cards:hover span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #050505b9;
    animation: stretchUp 0.3s linear 0s 1;
    font-size: large;
    color: #f0edee;
  }

  .avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0.5em;
  }

  #load-spinner {
    margin: 1em auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 2px solid #ffba48;
    animation: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1768px;
    flex-wrap: wrap;
    padding: 0.5em 2em;
    margin-top: 2em;
  }

  .detail {
    padding: 0.5em 2em;
    width: 50%;
  }

  .detail h4 {
    text-align: justify;
    margin-top: -22px;
  }

  .detail p {
    padding: 0.5em;
    text-align: justify;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
      display: block;
    }
    to {
      transform: rotate(360deg);
      display: none;
    }
  }
  @keyframes stretchUp {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  @keyframes slideshow {
    0% {
      background-image: url("../images/zebras.jpg");
    }
    35% {
      background-image: url("../images/kilimanjaro.jpg");
    }
    70% {
      background-image: url("../images/lions.jpg");
    }
    100% {
      background-image: url("../images/elephants.jpg");
    }
  }
  @keyframes fadein {
    from {
      opacity: 0;
      display: none;
    }
    to {
      opacity: 1;
      display: flex;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
      display: flex;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
}

/*# sourceMappingURL=main.css.map */
