$dark: #0a090c;
$bright: #f0edee;
$primaryDark: #07393c;
$primaryDarkTrans: #07393cb0;
$primary: #2c666e;
$accent: #90ddf0;
$logoFontSize: 2rem;
$largeText: 3rem;
$mediumText: 2rem;
$smallText: 0.5rem;
$largeMargin: 4em;
$mediumMargin: 2em;
$stdMargin: 1em;
$smallMargin: 0.5em;
$font: "Montserrat", sans-serif;
$borderRadius: 25px;
$maxWidth: 1768px;

@mixin flex($direction: row, $jc: center, $ai: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  @if $direction == row {
    max-width: $maxWidth;
    flex-wrap: wrap;
  }
}
@mixin setBg($resource: "building.jpg") {
  background-image: url("../images/" + $resource);
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin stretchUp($height: 100px) {
  height: $height;
}

html {
  scroll-behavior: smooth;
}
body {
  color: $dark;
  background-color: $bright;
  font-family: $font;
  padding: 0;
  margin: 0 auto;
}
section {
  text-align: center;
  padding: 1em 0.5em;
}
.dark-bg {
  background-color: $dark;
  color: $bright;
}
.dark-bg-trans {
  background-color: $primaryDarkTrans;
  color: $bright;
}
.bright-bg {
  background-color: $bright;
  color: $primaryDark;
}
.primary-text {
  color: $primaryDark;
}
.bright-text {
  color: $bright;
}
.accent-bg {
  background-color: $accent;
  color: $dark;
}
.accent-text {
  color: $accent;
}

.logo-main {
  width: 160px;
  color: $bright;
  font-size: $logoFontSize;
}
a:link,
a:hover,
a:visited {
  text-decoration: none;
}
header {
  @include flex(column, flex-start, center);
  padding: 1em;
  background-image: url("../images/building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
header #top {
  @include flex(row, space-between, flex-start);
  width: calc(100% - 2em);
  position: fixed;
  top: 0;
  padding: 1em;
}
header .banner {
  width: 70%;
  margin-top: $largeMargin;
  text-align: center;
}
header .search {
  background-color: transparent;
  border-radius: $borderRadius;
  padding: 0.5em 1em;
  line-height: 1em;
  color: $bright;
  width: 50%;
  border: 2px solid $bright;
  font-size: medium;
  text-align: center;
}
header .search::placeholder {
  color: $bright;
}
header .search:focus {
  outline: none;
}
nav {
  @include flex(row, flex-end, flex-start);
}
nav .nav-item {
  margin: 0.25em 0.5em;
  color: $bright;
  cursor: pointer;
}
nav .nav-item:hover,
nav .active {
  border-bottom: 2px solid $accent;
  font-weight: bold;
}
button {
  border-radius: $borderRadius;
  padding: 0.5em 1em;
  cursor: pointer;
}
footer {
  @include flex(row, space-evenly, flex-start);
  background-color: $dark;
  margin: 0 auto;
  padding: $mediumMargin $largeMargin;
  color: $bright;
}
footer div.navigation {
  @include flex(column, flex-start, flex-start);
}
footer a:link,
footer a:active,
footer a:visited {
  color: $bright;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
#s-bookings {
  background-color: $primary;
  padding: $largeMargin;
  color: $bright;
}

.form-group {
  @include flex(column, center, flex-start);
  padding: $smallMargin;
}
.form-control {
  background-color: transparent;
  border-radius: $borderRadius;
  padding: $smallMargin $mediumMargin;
  margin: $smallMargin;
  border: 1px solid $primaryDark;
  width: 100%;
}
textarea.form-control {
  @extend .form-control;
  border-radius: 2px;
}
.form-control:focus {
  outline: none;
}
#booking-button,
#send-button {
  padding: $smallMargin $largeMargin;
  border-radius: $borderRadius;
  background-color: $bright;
  border: 0px solid $primary;
  cursor: pointer;
}
#booking-button:hover,
#send-button:hover {
  background-color: $accent;
}
// #send-button:hover {
//   background-color: $primary;
//   border: 2px solid $primaryDark;
// }
img.feature {
  width: 40%;
}
.large-text {
  font-size: $largeText;
}
.medium-text {
  font-size: $mediumText;
}
.small-text {
  font-size: $smallText;
}
.stories {
  @include flex(row, flex-start, flex-start);
  margin-bottom: $smallMargin;
}
.stories > div {
  text-align: left;
}
.stories div > p:nth-child(1) {
  font-style: italic;
}
.stories div > p:nth-child(2) {
  font-weight: bold;
}
.cookie-notification {
  position: fixed;
  bottom: 0;
  height: 0;
  max-height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em 0.5em;
  animation: stretchUp 0.3s linear 2s 1 forwards;
}
.container {
  @include flex(row, center, stretch);
  margin: 0 auto;
  padding: 1em 0.5em;
}
#s-bookings .container,
#s-contacts .container {
  @include flex(row, space-evenly, center);
  padding: $largeMargin $smallMargin;
}
#s-stories .container {
  @include flex(row, space-evenly, flex-start);
}
// .container > div:nth-child(2) {
//   flex-grow: 3;
// }
.cards1,
.cards2,
.cards3,
.cards4 {
  @include flex(column, center, center);
  height: 300px;
  width: 300px;
  cursor: pointer;
}
.cards1 span,
.cards2 span,
.cards3 span,
.cards4 span {
  display: none;
  height: 0;
}
.cards1:hover span,
.cards2:hover span,
.cards3:hover span,
.cards4:hover span {
  @include flex(column, center, center);
  height: 100%;
  width: 100%;
  background-color: #050505b9;
  animation: stretchUp 0.3s linear 0s 1;
  font-size: large;
  color: $bright;
}
.avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: $smallMargin;
}
.cards4 {
  @include setBg("dsm.jpg");
}
.cards3 {
  @include setBg("madrid.jpg");
}
.cards1 {
  @include setBg("paris.jpg");
}
.cards2 {
  @include setBg("shipcruise.jpg");
}
@keyframes stretchUp {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
